Click==7.0
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
Flask-LoginManager==1.1.6
Flask-MySQLdb==0.2.0
Flask-SQLAlchemy==2.3.2
Flask-RESTful==0.3.7
Jinja2==2.10.1
MarkupSafe==1.1.0
SQLAlchemy==1.2.15
Werkzeug==0.15.2
aniso8601==6.0.0
bcrypt==3.1.6
cffi==1.12.2
gunicorn==19.9.0
itsdangerous==1.1.0
pip==19.0.3
psycopg2==2.8.1
pycparser==2.19
pytz==2019.1
setuptools==40.8.0
six==1.12.0

